.color {
	flex: 1;
	height: 100px;
	width: 100px;
	transition: 0.25s ease-in-out;
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-ms-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.color:first-child {
	border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-ms-border-radius: 10px 0px 0px 10px;
	-o-border-radius: 10px 0px 0px 10px;
}

.color:last-child {
	border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-ms-border-radius: 0px 10px 10px 0px;
	-o-border-radius: 0px 10px 10px 0px;
}
.color:hover {
	flex-grow: 4;
}

.colorCode {
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.6s ease-in-out;
	-ms-transition: 0.6s ease-in-out;
	-o-transition: 0.6s ease-in-out;
	padding: 4px 12px;
	opacity: 0;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	background-color: transparent;
}

.color:hover .colorCode {
	opacity: 1;
	background-color: #ffffff86;
}
